body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  box-sizing: border-box;
}
.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-container {
  border: 1px solid aqua;
  border-radius: 20px;
}
.caption {
  font-size: 1.5rem;
  margin: 15px;
  padding: 5px;
}
.login-form {
  padding: 20px;
  margin: 50px;
}
.form-label {
  font-size: 1.2rem;
  padding: 2px;
  margin: 5px;
}
.form-field {
  padding: 5px;
  width: 300px;
  border: 1px solid aqua;
  border-radius: 10px;
}
.form-btn {
  float: right;
  width: 100px;
  padding: 5px;
  margin: 10px;
  border: 1px solid aqua;
  border-radius: 10px;
}
.form-btn:hover {
  cursor: pointer;
}
.user-info {
  text-align: center;
  font-size: 2rem;
}
.show {
  display: block;
}
.hide {
  display: none;
}
.app-container {
  display: flex;
  flex-direction: column;
}
/*Header*/
header {
  background-color: rgb(251, 250, 250);
}
#header-top-section, #header-bottom-section {
  padding: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.26);
}
.header-row.row {
  align-items: center;
}
.logo-container {
  height: 110px;
  text-align: center;
}
.logo-container img {
  max-height: 100%;
}
.logo-container img:hover {
  box-shadow: 0px 0px 15px #00000033;
}
.header-right {
  /*min-width: 350px;*/
}
.header-search {
  flex-basis: 80%;
}
/*Search pane*/
.header-input {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 1.75rem 1.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 2.25rem;
  transition: 0.30s ease-in-out;
  box-shadow: 0 2px 2px 0 #00000075;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  background: -webkit-linear-gradient(180deg, rgb(255, 251, 242), rgb(244, 244, 244));
  background: -moz-linear-gradient(180deg, rgb(255, 251, 242), rgb(244, 244, 244));
  background: linear-gradient(180deg, rgb(255, 251, 242), rgb(244, 244, 244));
  outline: 0 !important;
}
.header-input:focus {
  box-shadow: 0 3px 12px 0 #68b8c5bd
}
.header-input:hover {
  /*box-shadow: 0 2px 2px 0 #00000075;*/
}


.header-input-icon {
  padding-right: calc(1.5em + 1.75rem);
  background-image: url('/public/search.svg');
  background-repeat: no-repeat;
  background-position: center right calc(.375em + .1875rem);
  background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}
form .inner-form .basic-search {
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  border-radius: 34px;
  margin-bottom: 5px;
}

form .inner-form .basic-search .input-field {
  width: 100%;
}

.form .inner-form .basic-search .input-field input {
  padding: 10px 80px 10px 40px;
}

form .inner-form .basic-search .input-field .icon-wrap {
  position: absolute;
  top: 0;
  right: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  width: 60px;
  height: 100%;
}
.button-search-icon:hover {
  transform: scale(1.5);
  cursor: pointer;

}
form .inner-form .basic-search .input-field .icon-wrap svg {
  width: 34px;
  height: 34px;
  fill: #000;
}
form .inner-form .input-field input {
  border: 0;
  display: block;
  width: 100%;
  padding: 15px 48px 10px 40px;
  font-size: 18px;
  height: 58px;
  color: black;
  background: -webkit-linear-gradient(180deg, rgb(255, 251, 242), rgb(244, 244, 244));
  background: -moz-linear-gradient(180deg, rgb(255, 251, 242), rgb(244, 244, 244));
  background: linear-gradient(180deg, rgb(255, 251, 242), rgb(244, 244, 244));
  font-family: 'Lato', sans-serif;
}

form .inner-form .input-field input.placeholder {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}

form .inner-form .input-field input:-moz-placeholder {
  color: #000;
  font-size: 18px;
  font-weight: 400;
}

form .inner-form .input-field input::-webkit-input-placeholder {
  color: #bdbdbd;
  font-size: 18px;
  font-weight: 400;
}

form .inner-form .input-field input:hover, form .inner-form .input-field input:focus {
  box-shadow: none;
  outline: 0;
}

/*Favorite button*/
.favorite-button {
  border: 1px solid rgba(174, 174, 174, 1);
  border-radius: 30px;
  padding: 7px;
  font-size: 18px;
  background-color: rgb(234 232 232);
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.25);
}

.favorite-button:hover {
  background-color: rgb(218 217 217);
  border-color: #616161;
}

@media (max-width: 575px) {
  .favorite-text {
    display: none;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .favorite-text {
    display: none;
  }
}
/**/

/*Product deck*/
.product-deck .product-card {
  width: 30%;
  /*max-width: 30%;*/
  /*min-width: 30%;*/
  text-decoration: none;
  color: inherit
}

.product-deck {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.product-card {
  border-radius: 4px;
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  flex-direction: column;
  padding: 8px;
  cursor: pointer;
  min-width: 290px;
  user-select: none;
  position: relative;
  width: 33.3%;
  margin: 15px;
  max-width: 33.3%;
  /*min-width: 30%;*/
  border: 1px solid #eeeeee;
}
main .product-header {
  padding: 0;
  text-align: center;
  border: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  border-radius: 3px;
  overflow: hidden;
  flex-grow: 1;
  min-height: 200px;
  height: 320px;
  position: relative;
}
.product-header img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  pointer-events: none;

}
.product-card:hover {
  box-shadow: 0px 0px 15px #00000033;
}
.product-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.product-vendor {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #9c9c9c;
  margin-bottom: 6px;
}
.product-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.product-name {
  color: #3f3f3f;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 20px;
}
.product-favorite {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
}
.product-info-sub {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.product-price {
  color: #3f3f3f;
  font-weight: normal;
  font-size: 22px;
  line-height: 22px;
}
.product-rating-count {
  vertical-align: sub;
}
/**/

/*Filters*/
.scrollable-menu {
  height: auto;
  max-height: 200px;
  width: 300px;

  overflow-x: hidden;
}
.product-favorite:hover .product-favorite-icon:hover {
  color: red;
  transform: scale(1.2);
  cursor: pointer;
}
.product-favorite:hover .product-favorite-icon{
  color: black;
  cursor: pointer;
  transform: scale(1.2);
}
#product-sort {
  display: flex;
  flex-direction:row;
  justify-content: center;
}
.product-sort-container {
  padding: 8px 15px;
  width: 500px;
  display: flex;
  flex-direction: row;
  border: 1px solid #d8d3d391;
  border-radius: 20px;
  background-color: #f5f2f2;
  margin-top: 10px;
  box-shadow: 0px 1px 8px 0px #00000026;
}
.home-image-wrapper {
  position: relative;
  overflow: hidden;
}
.home-image-wrapper img {
  object-fit: contain;
  height: 100%;
  width: 100%;
  vertical-align: middle;
}

.sort-span {
  color: grey;
  text-decoration: underline;
}

.sort-span:hover {
  color: #4a4949;
}
.dropdown-item {
  white-space: nowrap!important;
}
/**/
